doctype html
html(lang="en")
  head
    title Image Searcher
    link(rel='stylesheet' href='/app.css')
    
  body
    p Your text must be here:
    each l in link
      each head in header
        each thumb in image
          each snip in description
            h3= head
            a