doctype html
html(lang="en")
  head
    title Image Searcher
    link(rel='stylesheet' href='/app.css
    
  body
  each val in values
    a(class="card" href=val.link): img(src=val.image.thumbnailLink)