doctype html
html(lang="en")
  head
    title Image Searcher
    link(rel='stylesheet' href='/app.css')
    
  body
    p Your text must be here:
    each url in link
      each head in header
        each thumb in image
          each snip in description
            a(href= snip): h3= head
            a(href= url): img(src= thumb)
            