doctype html
html(lang="en")
  head
    title Image Searcher
    link(rel='stylesheet' href='/app.css')
    
  body
    p Your text must be here:
    mixin image-card(url, head, snip, thumb)
      div.image-card
        a(href= snip): h3= head
        a(href= url): img(src= thumb)
            
    