doctype html
html(lang="en")
  head
    title Image Searcher
    link(rel='stylesheet' href='/app.css')
    
  body
    
    mixin image-card(val)
      div.image-card
        a(href= val.snip class="image-header" target="_blank"): h6= val.head
        a(href= val.url class="image-link" target="_blank"): img(src= val.thumb width="250" height="200")
            
    div.container
      each part in values
        +image-card(part)
      div.image-card
        a(href= next class="image-link"): img(src='https://www.pngarts.com/files/2/Next-PNG-Image-Transparent.png' width="250" height="250")