<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Image searcher</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/app.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="block" id="block">
      <h1>Image finder</h1>
      <a class="random" id="random" href="#">Click here to get random article</a>
 
      <input id="field" name="field" class="field" type="search" oninput="textIt(this)" autocomplete="off">  
  
      <div class="info" id="info">Text Here</div>
      <script type="text/javascript" src="/img.js"></script>
      
    </div>
  </body>
</html>
