<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Image Search Abstraction Layer
      </h1>
    </header>

    <main>
      <p class="bold">Hi,</p>
      
      <p>Welcome to this app.</p>
      
      <p>Try <span style="color:red">https://pond-lily.glitch.me/wiki</span> to use Wiki article searcher.</p>
      
      <p>Try <span style="color:red">https://pond-lily.glitch.me/image</span> to use Image Finder.</p>
      <ul>
        <li>In the image finder you can paginate through the responses by changing offset query parameter of the URL or just press next button</li>
        <li>This app use free google custom searcher api, so only 10 pages(100 images) are available in the one request</li>        
      </ul>
      
      
                 
      
    </main>

    <footer>
      Made with <a href="https://glitch.com">Glitch</a> and <a href="https://mlab.com">mLab</a>
    </footer>   
    
  

  </body>
</html>
