<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        URL Shortener Microservice
      </h1>
    </header>

    <main>
      <p class="bold">Oh hi,</p>
      
      <p>Welcome to this useless app:</p>
      
      <p>You can pass a URL as a parameter and You will receive a shortened URL in the JSON response.</p>
     
      <p style="color:red">Like that: </p>
        <ul>
       <li style="color:red"> Request: <i>https://observant-carrot.glitch.me/new/https://stackoverflow.com</i></li>
       <li style="color:red">Response: <i>{"original_url":"https://stackoverflow.com","short_url":"https://observant-carrot.glitch.me/7"}</i></li>
      </ul>
      
      <p>When You visit that shortened URL, it will redirect you to original link.</p>
      
      <p>And don't ask me, why short_url longer then orignal_url. It's a miracle...</p>
                 
      
    </main>

    <footer>
      Made with <a href="https://glitch.com">Glitch</a> and <a href="https://mlab.com">mLab</a>
    </footer>   
    
  

  </body>
</html>
