/* styles */
/* called by your view template */

body {
  background: #8B3626;
  width: 100%;
  color: #424242;
  font-size: 1.3em;  
}

.container {
  margin: 0 auto;
}

.image-card {
  display: inline-block;
  margin: 2px;
  border: 1px solid white;
  width: 250px;
  height: 250px;
  vertical-align: top;
  text-align: center;
}

.image-header {
  text-decoration: none;
  display: block;
  color: white;
  height: 48px;
  text-align: center;  
}

.image-header h6 {  
  
}