/* styles */
/* called by your view template */

body {
  background: #111422;
  width: 100%;
  color: #818b63;
  font-size: 2em;
  font-family: 'Dancing Script', cursive;
}

.container {
  width: 1050px;
  margin: 0 auto;
  text-align: center;
}

.image-card {
  display: inline-block;
  margin: 2px;
  border: 1px solid white;
  width: 250px;
  height: 250px;
  vertical-align: top;
  text-align: center;
  font-size: 0.6em;
  font-family: 'Raleway', sans-serif;
  
}

.image-header {
  text-decoration: none;
  display: block;
  color: white;
  height: 50px;
  text-align: center;
  margin: 0;
  line-height: 50px;
  background-color: rgba(255,127,80 ,0.8 );
}

.image-header h6 {
  margin: 0; 
}

.image-card:last-child {
  background-color: rgba(255,255,255, 0.7);
}