/* styles */
/* called by your view template */

body {
  background: #111422;
  width: 100%;
  color: #424242;
  font-size: 1.3em;  
}

.container {
  width: 1050px;
  margin: 0 auto;
}

.image-card {
  display: inline-block;
  margin: 2px;
  border: 1px solid white;
  width: 250px;
  height: 250px;
  vertical-align: top;
  text-align: center;
}

.image-header {
  text-decoration: none;
  display: block;
  color: white;
  height: 50px;
  text-align: center;
  margin: 0;
  background-color: rgba(255,255,255, 0.5);
}

.image-header h6 {
  margin: 0; 
}