body {
  background: #111422;
  width: 100%;
  color: #818b63;
  font-size: 2em;
  text-align: center;
}

h1 {
  font-family: 'Dancing Script', cursive;  
}


a { 
  text-decoration: none;
  color: #424242;  
}

.block {
  margin-top: 300px;
  position: relative;
  text-align: center;  
}

.field {
  padding: 0;
  margin: 0;  
  display: block;
  background: none;
  border: none;
  border-bottom: 2px solid coral;
  margin: 30px auto;  
  min-width: 300px;
  font-size: 2em;
  opacity: 1;
  color: #e9b68e;
  }

.icon::checked label {
  opacity: 0;
  
}

